.treatment-title{
    background-color: #D693BF;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 37px;
    margin-bottom: 75px;
    
    padding: 15px;
}
.info-card-treat{
    background-color: #E9F7E1;
    margin: 37px;


}
.info-top, .info-buttom{
    padding: 27px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
}
.docs{
    width: 45px;
    height: 47px;
}
.plus-card{
    cursor: pointer;
    /* border: 1px solid #000000; */
}