.medicine-card{
    background: linear-gradient(to right,#D492BD , #E1BAD3);
    margin: 27px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 1.5rem;  
    
}
.card-top, .card-buttom{
    padding: 27px;
    display: flex;
    justify-content: space-evenly;
}
.side{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
}
.left-side{
    display: flex;
    width: 50%;
    flex-direction: column;
    /* justify-content: center; */
}
.right-side{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.medicine-edit-card{
    cursor: pointer;
    /* border: 1px solid #000000; */
}