

.home-icon img, .calender-icon img { width: 56px; height:56px; }
.profile-icon img { width: 84px; height:84px; border-radius:50%; }


.header-right { display:flex; align-items:center; gap:24px; margin-left:auto; }
.header { padding-left: 24px; padding-right: 28px; }

