body{
    margin: 0;
    padding: 0;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    background: #642C51;
    color: white;
}
.nav-right-side {
    display: flex;
    justify-content: center;
    color: #E1CFD1;
}
#click-nav{
    border: none;
    color: white;
    background: #642C51;
    cursor: pointer;
    width: 100px;
}